<div class="banner">
  <div class="banner-content">
    <span class="deco hidden-xs">L</span>
    <span class="deco2 hidden-xs">L</span>
    <span class="deco3 hidden-xs">L</span>
    <h1>VENDEZ VOTRE APPARTEMENT <br />EN 48 HEURES</h1>
    <form  action="#" method="post" name="sign-up">
      <input type="email" class="input" id="email" name="email" placeholder="ENTREZ VOTRE ADRESSE" required>
      <input type="submit" class="button" id="submit" value="GO">
    </form>
  </div>
</div>
