<div class="container">
  <div class="row">
    <div class="col-md-4 footer">
      <h1>SUPPORT</h1>
      <a href="" class="#">FAQ</a>
      <br>
      <a href="" class="#">OFFRE</a>
      <br>
      <a href="" class="#">COMMENT CA MARCHE?</a>
    </div>
    <div class="col-md-4 footer">
      <h1>A PROPOS</h1>
      <a href="" class="#">QUI SOMMES NOUS ?</a>
      <br>
      <a href="" class="#">NOTRE VISION</a>
      <br>
      <a href="" class="#">PLAY BOOK </a>
      <br>
    </div>
    <div class="col-md-4 footer text-center">
      <div class="row">
        <h1>INSCRIVEZ VOUS !</h1>
      </div>
      <div class="row">
        <input class="inpout" type="VOTRE EMAIL">
      </div>
      <div class="row">
        <button class="btn btn-envoyer">ENVOYER</button>
      </div>
    </div>
  </div>
</div>
