<div class="container">
  <div class="row">
    <div class="col-md-4 footer">
      <h1>SUPPORT</h1>
      <h3>FAQ</h3>
      <h3>OFFRE</h3>
      <h3>COMMENT CA MARCHE?</h3>
    </div>
    <div class="col-md-4 footer">
      <h1>A PROPOS</h1>
      <h3>QUI SOMMES NOUS ?</h3>
      <h3>NOTRE VISION</h3>
      <h3>PLAY BOOK </h3>
    </div>
    <div class="col-md-4 footer text-center">
      <div class="row">
        <h1>INSCRIVEZ VOUS !</h1>
      </div>
      <div class="row">
        <input class="inpout" type="VOTRE EMAIL">
      </div>
      <div class="row">
        <button class="btn btn-envoyer">ENVOYER</button>
      </div>
    </div>
  </div>
</div>
