 <%= render 'shared/banner' %>
<div class="container advantages-banner">
  <div class="row">
    <div class="col-md-offset-3 col-md-6 text-center title">
      <h1>LES AVANTAGES</h1>
      <!-- mettre la barre sous le titre h1 -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 text-center">
      <div class="row">
        <i class="fas fa-dollar-sign"></i>
      </div>
      <div class="row">
        <p>Une vente sans tracas</p>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="row">
        <i class="far fa-calendar-alt"></i>
      </div>
      <div class="row">
        <p>Vous partez quand vous voulez</p>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="row">
        <i class="fas fa-dollar-sign"></i>
      </div>
      <div class="row">
        <p>Vendez en toute sérénité</p>
      </div>
    </div>
  </div>
</div>
<div class="container differences-container ">
  <div class="row">
    <div class="col-md-6 col-md-offset-6 offre3">
      <h2>C’EST QUOI LA <br> DIFFERENCE <br> AVEC UNE AGENCE <br> IMMOBILIERE ?</h2>
      <div class="underline-titles"></div>
    </div>
  </div>
  <div class="row" id="comparaison">
    <div class="col-md-6 text-center">
      <h3>LASTFLOOR</h3>
      <ul class="text-left" id="mybiz">
        <div class="list-comparaison">
          <i class="fas fa-check-circle"></i>
          <li>Recevez une offre en quelques clics</li>
        </div>
        <div class="list-comparaison">
          <i class="fas fa-check-circle"></i>
          <li>Fini les visites intempestives</li>
        </div>
        <div class="list-comparaison">
          <i class="fas fa-check-circle"></i>
          <li>Date de vente flexible</li>
        </div>
        <div class="list-comparaison">
          <i class="fas fa-check-circle"></i>
          <li>Pas de rétraction de Lastfloor</li>
        </div>
      </ul>
    </div>
    <div class="col-md-6 text-center">
      <h3 style="color: grey">AGENCE IMMO</h3>
      <ul id="mybiz-agence">
        <li class="list-comparaison">Date de closing incertain et sans garantie</li>
        <li class="list-comparaison">Date de closing incertain et sans garantie</li>
        <li class="list-comparaison">Date de closing incertain et sans garantie</li>
        <li class="list-comparaison">Date de closing incertain et sans garantie</li>
      </ul>
    </div>
  </div>
  <div class="container encharge">
    <div class="row">
      <div class="col-md-6 marg">
        <h1>NOUS PRENONS EN CHARGE TOUTE LA LOGISTIQUE :-)</h1>
        <div class="underline-titles2"></div>
      </div>
      <div class="col-md-5 bullet">
        <div class="list-comparaison">
          <i class="fas fa-check-circle"></i>
          <li>Votre déménagement devient <br> une simple formalité</li>
        </div>
        <div class="list-comparaison">
          <i class="fas fa-check-circle"></i>
          <li>La paperasse c’est terminé <br> notre équipe s’en occupe à <br> votre place</li>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md12 text-center">
        <h1>IMAGE</h1>
      </div>
    </div>
  </div>
  <div class="row" style="margin-bottom: 100px">
    <div class="col-md-6 offre">
      <h3>Nous comparons simplement votre bien au marché, que ce soit sur la base des dernières ventes auprès des notaires de France mais aussi par rapport aux annonces similaires actuellement en vente sur les sites d’annonces majeurs (leboncoin, seloger) </h3>
    </div>
    <div class="col-md-6 offre2">
      <h1>UNE OFFRE <br> detailee et <br> TRANSPARENTE</h1>
      <div class="underline-titles3"></div>
    </div>
  </div>
  <div class="row encharge2">
    <div class="col-md-6 marg">
      <h1>NOUS PRENONS EN CHARGE TOUTE LA LOGISTIQUE :-)</h1>
      <div class="underline-titles4"></div>
    </div>
    <div class="col-md-4 marg text-center">
      <button class="btn btn-je-veux-essayer">JE VEUX ESSAYER</button>
    </div>
  </div>
</div>
