<% @skip_footer = true %>

<div class="container offre-container">
  <span class="number-page">1</span>
  <div class="row">
    <div class="col-md-offset-4 col-md-4 timeline">
        <h1>1</h1>
        <i class="fas fa-arrow-right"></i>
        <h2>2</h2>
        <i class="fas fa-arrow-right"></i>
        <h2>3</h2>
        <i class="fas fa-arrow-right"></i>
        <h2>4</h2>
    </div>
  </div>
  <div class="row button-offre">
    <div class=".col-md-6 .col-md-offset-3 ">
      <form  action="#" method="post" name="sign-up">
        <input type="email" class="input2" id="email" name="email" placeholder="ENTREZ VOTRE ADRESSE" required>
        <input type="submit" class="button2" id="submit" value="GO">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 offre3">
      <h2>VENDEZ EN <br> SEULEMENT <br> 48 HEURES</h2>
      <div class="underline-titles5"></div>
    </div>
    <div class="col-md-4 offre3">
      <h2>RECevez une <br> offre en <br> quelques <br>minutes <br> seulement</h2>
      <div class="underline-titles5"></div>
    </div>
  </div>
</div>
