<% @skip_footer = true %>

<div class="container offre3-container">
  <span class="number-page">3</span>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-6 caracteristiques">
      <h2>CARACTERISTIQUES <br> DU BIEN</h2>
      <div class="underline-titles-offre3"></div>
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 case-simple">
      <h3>Surface du bien en m2</h3>
      <input type="m2">
    </div>
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8 case">
      <div class="">
        <h3>Nombre de pièces</h3>
        <input type="">
      </div>
      <div class="">
        <h3>Nombre de chambres</h3>
        <input type="">
      </div>
      <div class="">
        <h3>Nombre de salles de bain</h3>
        <input type="">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
      <div class="row inline-row">
        <div class="col-md12 case">
          <h3>Possédez vous un balcon ?</h3>
          <div class="case text-center">
            <i class="fas fa-check-circle"></i>
            <h3>Oui</h3>
          </div>
          <h3>Non</h3>
          <input type="Surface en m2">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
      <div class="row inline-row">
        <div class="col-md12 case">
          <h3>Possédez vous une terrasse ?</h3>
          <div class="case text-center">
            <i class="fas fa-check-circle"></i>
            <h3>Oui</h3>
          </div>
          <h3>Non</h3>
          <input type="Surface en m2">
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
      <button class="btn btn-envoyer">PRECEDENT</button>
    </div>
    <div class="col-md-4 text-center">
      <button class="btn btn-envoyer">SUIVANT</button>
    </div>
  </div>
</div>
