/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  }

.brand  {
  position: absolute;
  left: 50%;
  margin-left: -50px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
  color: #142C48;
  font-size: 24px;
  font-weight: bold;
  }
  i {
    margin-left: 20px;
    color: #FF654C;
  }
}

.btn-essayer {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  background-color: #FF654C;
  border-radius: 50px;
  padding-left: 16px;
  padding-right: 16px;
  &:hover {
    background-color: #F87668;
    color: white;
  }
}

.btn-je-veux-essayer {
  color: #fff;
  width: 202px;
  height: 70px;
  font-weight: bold;
  font-size: 16px;
  background-color: #FF654C;
  border-radius: 50px;
  padding-left: 16px;
  padding-right: 16px;
  &:hover {
    background-color: #F87668;
    color: white;
  }
}

.btn-envoyer {
  margin-top: 30px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  background-color: #FF654C;
  border-radius: 50px;
  padding-left: 16px;
  padding-right: 16px;
  &:hover {
    background-color: #F87668;
    color: white;
  }
}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
  color: #142C48;
  font-size: 16px;
  font-weight: bold;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.footer {
  margin-top: 30px;
  h1 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-size: 24px;
    color: #142C48;
  }
  h3 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    color: #142C48;
  }
  a {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    color: #142C48;
  }
}

.inpout {
  width: 208px;
  height: 50px;
  background: #FFFFFF;
  border: 2px solid #FC4337;
  box-sizing: border-box;
  border-radius: 4px;
}

.choice-selected {
  position: relative;
  width: 312px;
  height: 357px;
  margin: 56px;
  background: #142C48;
  border: 4px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 150px;
}

.choice-not-selected {
  position: relative;
  width: 312px;
  height: 357px;
  margin: 56px;
  background: #142C48;
  border: 4px solid gray;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  font-size: 150px;
}

.selected {
  position: absolute;
  top: 10px;
  left: 15px;
  color: white;
  font-size: 43px;
  font-weight: bold;
}
